*
{
    scrollbar-width: thin;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body
{
    font-family: var(--default-font);
    font-size: var(--font-size-sm);
    background-color: #FAFAFA;
}